{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:"Open Sans",sans-serif;
}

nav{
    display: flex;
    justify-content: space-between;
        align-items:center;
}
ul {
    display: flex;
    list-style: none;
}   
a{
    text-decoration: none;
}
